<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  {% load template_filters %}
  <meta charset="utf-8">
  <title>Consulta</title>
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
{%if contenido%}
  {%for dic in contenido%}
  <button type="button" class="collapsible">{{ dic|get_item:"Nombres y apellidos" }}</button>
  <div class="content">
    {%for key,value in dic.items%}
      <div class="container">
      <div class="open"><p>{{key}}</p></div>
      <div class="open"><p>{{value}}</p></div>
      </div>
    {%endfor%}
  </div>
  {%endfor%}
{%endif%}
<script src="{% static 'assets/js/script.js' %}"></script>
